html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    padding-top: 100px;
}

input[type="text"] {
    height: 24px;
    width: 100px;
    margin-left: 10px;
}

input {
    float: left;
    margin: 0;
}

.error {
    color: red;
}

footer {
    margin-top: 20px;
}
