html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    padding-top: 100px;
}

input[type="text"] {
    height: 30px;
    width: 100px;
    margin-left: 10px;
    color: black;
}

input {
    float: left;
    margin: 0;
}

.error {
    color: red;
}

section {
    margin-bottom: 2.5rem;
}

.tests .test {
    font-weight: bold;
}

footer {
    margin-top: 20px;
}
